.promo {
  padding-top: 50px;

  &__title {
    margin-block-start: 50px;
    padding-inline: 5px;
    &__about{
      font-weight: 500;
      font-size: 32px;
      text-transform: uppercase;
      font-style: normal;
      margin: auto;
      text-align: center;
      padding: 1.5em;
    }
  }
  &__img {
    margin: 40px auto 0 auto;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
  }
  &__btn {
    margin: 18px auto 0 auto;
  }
  &__nav{
    display: none;
  }
  &__content__img{
    display: none;
    position: absolute;
  }
  &__content__vase{
    animation: animka 2s ease 0ms forwards;
  }
}

@keyframes animka {
  from {
    transform: translateX(300px);
  }
  to {
    transform: translateX(0px);
  }
}

@media (min-width: 770px) {
  .promo{
    &__content{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
    h1{
      text-align: left;
      align-content: end;
      padding: 3em 0;
      width: 329px;
    }
    &__nav{
      display: flex;
      justify-content: center;
      gap: 1.5em;
      padding-top: 1.5em;
    }
    &__nav-link{
      font-weight: 400;
      text-transform: uppercase;
      font-size: 20px;
      text-decoration: none;
      color: #232323;
    }
    &__img{
      width: 230px;
      height: 321px;
    }
  }
  .swiper {
    width: 400px;
    height: 355px;
  }
}

.swiper {
  width: 340px;
  height: 300px;
  margin-bottom: 5em;
  &__h2tittle{
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    padding: 28px 0;
  }
}

@media (min-width: 1200px) {
  .promo{
    padding: 0;
    display: flex;
    flex-direction: row;
    &__nav{
      justify-content: center;
    }
    &__content__img{
      width: 450px;
      height: 633px;
      display: flex;
    }
    &__container{
      padding-top: 50px;

    }
    &__content{
      justify-content: flex-end;
      gap: 4em;
    }
    h1{
      width: 329px;
    }
  }
  .swiper {
    width: 1100px;
    height: 388px;
  }
}

@media (min-width: 1900px) {
  .promo{
    &__content__img{
      width: 640px;
      height: 900px;
      display: flex;
    }
    &__content{
      padding-right: 0;
      justify-content: right;
      height: 700px;
      gap: 4em;
    }
    &__container{
      padding-right: 10em;
      padding-left: 10em;
    }
    &__img{
      width: 330px;
      height: 460px;
    }
    &__title{
      width: 438px;
    }
    &__content__vase{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }
  .swiper {
    width: 1355px;
    height: 423px;
  }
}