.works {
  &__title {
    margin-block-start: 50px;
    padding-inline: 5px;
  }
}

.swiper {
  width: 100%;
  max-width: 1200px;
  height: 300px;
  margin-block-start: 50px;
  padding-inline: 5px;
}